.main {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/800px-React-icon.svg.png");
  height: 300px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.App {
  font-family: sans-serif;
  margin-top: 40px;
}
.language-select {
  float: right;
  margin-top: -35px;
}

p {
  font-size: 25px;
  margin-right: 75px;
}
.field {
  margin-right: 75px;
}

.example-text {
  margin-top: 30px;
  font-family: monospace;
  font-weight: bold;
}

body[dir="rtl"] p {
  color: #696969;
}
